@media (max-width: 881px) {
    .container_filter {
        align-items: center;       
    }
    .filters {
        display: block;
        position: relative;
        max-width: 23.125rem;
    }    
    .search {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}
@media (max-width: 600px) {    
    .filters {
       
        max-width: 16.125rem;
    }    
  
}